<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Trangenix is a web application for the human resources area with incredible functionalities">
        <meta name="keywords"  content="Trangenix, RadiumRocket, BaSP, rrhh">
        <meta name="author" content="Nicolas Costanza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <span class="hamburger-menu">&#x2630</span>
            <a class="tittle-header" href="index.html">
                <span class="header-radium">Radium</span>
                <span class="header-rocket">Rocket</span>
            </a>
        </header>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p id="create-employy" class="text"></p>
          </div>
        </div>
        <main>
            <form>
                <h1>Sign Up</h1>
                <div>
                    <label>Name</label>
                    <input id="name" type="text" placeholder="Name">
                    <p id="msgName" class="text-error"></p>
                </div>
                <div>
                    <label>Surname</label>
                    <input id="surname" type="text" placeholder="Surname">
                    <p id="msgSurname" class="text-error"></p>
                </div>
                <div>
                    <label>DNI</label>
                    <input id="dni" type="text" placeholder="DNI">
                    <p id="msgDni" class="text-error"></p>
                </div>
                <div>
                    <label>Date of birth</label>
                    <input id="date" type="text" placeholder="mm/dd/yyyy">
                    <p id="msgDate" class="text-error"></p>
                </div>
                <div>
                    <label>Phone</label>
                    <input id="phone" type="text" placeholder="Phone">
                    <p id="msgPhone" class="text-error"></p>
                </div>
                <div>
                    <label>Address</label>
                    <input id="address" type="text" placeholder="Address">
                    <p id="msgAddress" class="text-error"></p>
                </div>
                <div>
                    <label>Location</label>
                    <input id="location" type="text" placeholder="Location">
                    <p id="msgLocation" class="text-error"></p>
                </div>
                <div>
                    <label>Postal Code</label>
                    <input id="postal" type="text" placeholder="Postal Code">
                    <p id="msgPostal" class="text-error"></p>
                </div>
                <div>
                    <label>Email</label>
                    <input id="email" type="text" placeholder="Email">
                    <p id="msgEmail" class="text-error"></p>
                </div>
                <div>
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Password">
                    <p id="msgPassword" class="text-error"></p>
                </div>
                <div class="div-int">
                    <div class="last-div">
                        <label>Repeat Password</label>
                        <input id="passwordRepeat" type="password" placeholder="Password">
                        <p id="msgPasswordRepeat" class="text-error"></p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-create" id="myBtn2">CREATE</button>
                    <button class="btn-cancel"><a href="index.html">CANCEL</a></button>
                </div>
                <p class="redirect">Already have an account? <a href="../views/login.html">Log in here</a></p>
            </form>
        </main>
        <footer>
            <h3>Trackgenix®</h3>
        </footer>
        <script src="../javascript/sign-up.js"></script>
    </body>
</html>