<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Trangenix is a web application for the human resources area with incredible functionalities">
        <meta name="keywords"  content="Trangenix, RadiumRocket, BaSP, rrhh">
        <meta name="author" content="Nicolas Costanza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/header.css">
        <!-- <link rel="stylesheet" href="../css/main.css"> -->
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/login.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <span class="hamburger-menu">&#x2630</span>
            <a class="tittle-header" href="index.html">
                <span class="header-radium">Radium</span>
                <span class="header-rocket">Rocket</span>
            </a>
        </header>
        <main>
            <form>
                <h1>Log in</h1>
                <div>
                    <label>Email</label>
                    <input id="email" type="text" placeholder="Email">
                </div>
                <div>
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Password">
                </div>
                <div class="buttons">
                    <button class="btn-login"><a>LOG IN</a></button>
                    <button type="button" class="btn-recovery"><a href="../views/recovery.html">PASSWORD RECOVERY</a></button>
                </div>
            </form>
            <div class="resultados">
            </div>
        </main>
        <footer>
            <h3>Trackgenix®</h3>
        </footer>
        <script src="../javascript/login.js"></script>
    </body>
</html>