<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Trangenix is a web application for the human resources area with incredible functionalities">
        <meta name="keywords"  content="Trangenix, RadiumRocket, BaSP, rrhh">
        <meta name="author" content="Nicolas Costanza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/employee-signup.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <span class="hamburger-menu">&#x2630</span>
            <a class="tittle-header" href="index.html">
                <span class="header-radium">Radium</span>
                <span class="header-rocket">Rocket</span>
            </a>
        </header>
        <main>
            <form>
                <h1>Sign Up</h1>
                <div>
                    <label>Name</label>
                    <input type="name" placeholder="Name">
                </div>
                <div>
                    <label>Surname</label>
                    <input type="name" placeholder="Surname">
                </div>
                <div>
                    <label>DNI</label>
                    <input type="text" placeholder="DNI">
                </div>
                <div>
                    <label>Date of birth</label>
                    <input type="text" placeholder="Date of birth">
                </div>
                <div>
                    <label>Phone</label>
                    <input type="text" placeholder="Phone">
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" placeholder="Address">
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" placeholder="Location">
                </div>
                <div>
                    <label>Postal Code</label>
                    <input type="text" placeholder="Postal Code">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" placeholder="Email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" placeholder="Password">
                </div>
                <div class="buttons">
                    <button class="btn-create">Create</button>
                    <button class="btn-cancel" href="index.html">Cancel</button>
                </div>
            </form> 
        </main>
        <footer>
            <h3>Trackgenix®</h3>
        </footer>
    </body>
</html>