<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Trangenix is a web application for the human resources area with incredible functionalities">
        <meta name="keywords"  content="Trangenix, RadiumRocket, BaSP, rrhh">
        <meta name="author" content="Nicolas Costanza">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <span class="hamburger-menu">&#x2630</span>
            <a class="tittle-header" href="index.html">
                <span class="header-radium">Radium</span>
                <span class="header-rocket">Rocket</span>
            </a>
        </header>
        <div id="modal-ok">
            <div class="modall">
                <div class="modal-header">
                    <h3 class="modal-tittle">Congratulations</h3>
                    <span class="btn-close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>you registered successfully</p>
                </div>
                <div class="modal-footer">
                    <button class="ok-btn">Agree</button>
                </div>
            </div>
        </div>
        <div id="modal-bad">
            <div class="modal-error">
                <div class="modal-header">
                    <h3 class="modal-tittle">Error</h3>
                    <span class="btn-close">&times;</span>
                </div>
                <div class="modal-body">
                    <p>You did not complete all the fields correctly</p>
                </div>
                <div class="modal-footer">
                    <button class="ok-btn">Agree</button>
                </div>
            </div>
        </div>
        <main>
            <form>
                <h1>Sign Up</h1>
                <div>
                    <label>Name</label>
                    <input id="name" type="name" placeholder="Name">
                    <p id="nameErrorLength" class="hidden">Error ingrese mas de 3 caracteres</p>
                    <p id="nameErrorCaracter" class="hidden">Error Ingrese solo caracteres</p>
                </div>
                <div>
                    <label>Surname</label>
                    <input id="surname" type="name" placeholder="Surname">
                    <p id="surnameErrorLength" class="hidden">Error ingrese mas de 3 caracteres</p>
                    <p id="surnameErrorCaracter" class="hidden">Error Ingrese solo caracteres</p>
                </div>
                <div>
                    <label>DNI</label>
                    <input id="dni" type="text" placeholder="DNI">
                    <p id="dniErrorLength" class="hidden">Error ingrese mas de 7 numeros</p>
                    <p id="dniErrorCaracter" class="hidden">Error Ingrese solo numeros</p>
                </div>
                <div>
                    <label>Date of birth</label>
                    <input id="date" type="text" placeholder="Date of birth">
                    <p id="dateError" class="hidden">Error dd/mm/yyyy</p>
                </div>
                <div>
                    <label>Phone</label>
                    <input id="phone" type="text" placeholder="Phone">
                    <p id="phoneErrorLength" class="hidden">Error ingrese 10 numeros</p>
                    <p id="phoneErrorCaracter" class="hidden">Error Ingrese solo numeros</p>
                </div>
                <div>
                    <label>Address</label>
                    <input id="address" type="text" placeholder="Address">
                    <p id="addressErrorLength" class="hidden">Error minimo 5 caracteres</p>
                    <p id="addressErrorSpace" class="hidden">Error Debe contener espacio</p>
                    <p id="addressErrorCaracter" class="hidden">Error ingrese numeros y letras</p>
                    <p id="addressErrorCaracterSpecial" class="hidden">Error no ingrese caracteres especiales</p>
                </div>
                <div>
                    <label>Location</label>
                    <input id="location" type="text" placeholder="Location">
                    <p id="locationErrorLength" class="hidden">Error minimo 3 caracteres</p>
                    <p id="locationErrorCaracter" class="hidden">Error solo texto alfanumerico</p>
                </div>
                <div>
                    <label>Postal Code</label>
                    <input id="postal" type="text" placeholder="Postal Code">
                    <p id="postalErrorLength" class="hidden">Error ingrese solo numeros</p>
                    <p id="postalErrorCaracter" class="hidden">Error entre 4 y 5 caracteres</p>
                </div>
                <div>
                    <label>Email</label>
                    <input id="email" type="text" placeholder="Email">
                    <p id="emailError" class="hidden">Error ingrese email valido</p>
                </div>
                <div>
                    <label>Password</label>
                    <input id="password" type="text" placeholder="Password">
                    <p id="passwordErrorLength" class="hidden">Error ingrese al menos 8 caracteres</p>
                    <p id="passwordErrorCaracter" class="hidden">Error ingrese solo letras y numeros</p>
                </div>
                <div class="div-int">
                    <div class="last-div">
                        <label>Repeat Password</label>
                        <input id="passwordRepeat" type="text" placeholder="Password">
                        <p id="passwordRepeatErrorLength" class="hidden">Error ingrese al menos 8 caracteres</p>
                        <p id="passwordRepeatErrorCaracter" class="hidden">Error ingrese solo letras y numeros</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-create">CREATE</button>
                    <button class="btn-cancel"><a href="index.html">CANCEL</a></button>
                </div>
            </form> 
            
        </main>
        <footer>
            <h3>Trackgenix®</h3>
        </footer>
        <script src="../javascript/sign-up.js"></script>
    </body>
</html>