header{
    width: 1440px;
    height: 60px;
    position: fixed;
    background-color: #373867;
}

main{
    display: inline-block ;
    margin-left: 288px;
    padding-top: 60px;
    width: 1152px;
    z-index: -1;
}
aside{
    background-color: #D9D9E2;
    display: inline-block ;
    position: fixed;
    width: 288px;
    height: 964px;
    margin-top: 60px;
}
footer{
    display: inline-block;
    margin-top: 30px;
    width: 1152px;
    height: 70px;
    margin-left: 288px;
    background-color: #D9D9E2;
}

/* section{
    padding-left: 80px;
} */
.menu-hamburguesa{
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 30px;
}
/* HEADER */
/* hacer mas fina o gruesa la letra */
.header-radium{
    display: inline-block;
    padding: 10px 0 10px 20px;
    font-size: 40px;
    color: #49A37B;
    font-weight: bold;
    font-family: 'Roboto';
    font-style: normal;
}
.header-rocket{
    display: inline-block;
    padding: 10px 0 10px -20px;
    color: #AACE9B;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Roboto';
    font-style: normal;
}

h1, h2, h3, h4, p, span, li, .menu-hamburguesa{
    color: #373867;
}
h1, h2, h3, h4, p, span, li{
    font-family: 'Roboto';
    font-style: normal;
}

/* ASIDE */

.menu {
    width: 38px;
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #AACE9B;
}
.contact-us {
    width: 70px;
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #AACE9B;
}
.list-item{
    width: 220px;
    margin-left: 35px;
    padding: 18px 0 15px 0;
    border-bottom: 1px solid #373867;
}

.list-item > a{
    color: #373867;
}

aside > p:nth-child(4){
    margin-left: 35px;
    padding: 18px 25px 15px 0;
}

address{
    margin-left: 35px;
    padding-bottom: 15px;
}

address > ul > li{
    padding-left: 3px;
}
address > ul > li:last-child{
    padding-left: 25px;
}

/* MAIN */

section{
    margin-left: 70px;
}
/* principal section */
.principal{
    padding-top: 100px;
    height: 600px;
}

.principal-texto{
    display: inline-block;
    width: 430px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    z-index: -1;
}

.principal-texto:nth-child(2){
    position: relative;
    top: -230px;
}
.principal-subtexto{
    display: inline-block;
    width: 430px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-right: 30px;
    position: relative;
    top: -200px;
    z-index: -1;
}

.img-reloj{
    display: inline-block;
    width: 570px;
    height: 390px;
    object-fit: cover;
    position: relative;
    top: -85px;
    z-index: -1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));;
}

h1{
    color: #373867;
    width: 322px;
    height: 44px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;  
    margin-bottom: 40px;
}
h2{
    color: #373867;
    width: 199px;
    height: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    width: 800px;
}

h3{
    display: inline-block;
    color: #373867;
    width: 400px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding-left: 30px;
}

.estrella{
    display: inline-block;
    font-size: 64px;
    color: #C4C4C4;
    position: relative; 
    top: 30px; 
    z-index: -1;
}

section > div{
    display: inline-block;
    width: 490px;
    height: 112px;
}


.texto{
    padding-left: 88px;
    padding-right: 30px;
}

/* FORM */

input{
    border: solid #373867 1px;
    border-radius: 5px;
    width: 450px;
    height: 37px;
}
input:first-child {
    margin-right: 50px;
}
input::placeholder{
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.titulo-contact-area{
    margin-top: 25px;
    margin-bottom: 10px;
}

.input-radio{
    width: 16px;
    height: 16px;
}
label{
    color: #373867;
    height: 16px;
    position: relative;
    left: -50px;
    z-index: -1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.contact{
    display: inline-block;
}

.contact:nth-child(2){
    padding-left: 250px
}

.contact:last-child{
    padding-left: 248px;
}

textarea{
    margin-top: 25px;
    width: 960px;
    height: 150px;
    border: solid #373867 1px;
    border-radius: 5px;
}
textarea::placeholder{
    padding: 10px;
    width: 200px;
    height: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
/* botones */
.btn-send{
    margin-top: 20px;
    background: #AACE9B;
    border-radius: 5px;
    width: 190px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.btn-reset{
    background: #FFFFFF;
    margin-left: 30px;
    width: 130px;
    height: 47px;
    border: 1px solid #373867;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}


/* about us  */

.img-cohete{
    width: 600px;
    display: inline-block;
    position: relative;
    top: -80px;
    z-index: -1;
}
.about-us{
    width: 383px;
    height: 210px;
    position: relative;
    top: -350px;
    z-index: -1;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* products */

h4{
    display: inline-block;
    width: 90px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
}

.listas{
    width: 250px;
}
ol > li {
    margin-left: 15px;
}

.listas:nth-child(2){
    margin-left: 160px;
}
.listas:nth-child(3){
    margin-left: 170px;
    width: 100px;
}


/* FOOTER */
.linkedin > img {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.twitter > img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.whatsapp > img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.facebook > img {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
}

footer > p {
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 270px;
    color: black;
    width: 211px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
/* DEMAS */

/*  */
a{
    text-decoration: none;
}
a:visited{
    color: #373867;
}



/* separadoras */

.separador{
    width: 900px;
    height: 2px;
    background: #373867;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 92px;
}

/* problema de q no toma los valores el segundo separados */
/* mostrar a agus nsoe pq me toma el 1 y el 4 y desp el color me toma 3 y 4 */
/* .separador:nth-child(3){
    background-color: red;
} */

