/* ETIQUETAS GENERALES */
header{
    position: fixed;
    width: 1440px;
    height: 60px;
    background-color: #373867;
    z-index: 1;
}
aside{
    display: inline-block;
    position: fixed;
    width: 288px;
    height: 964px;
    margin-top: 60px;
    background-color: #D9D9E2;
    z-index: 1;
}
main{
    display: inline-block ;
    width: 1152px;
    margin-left: 288px;
    padding-top: 60px;
    z-index: -1;
}
footer{
    display: inline-block;
    width: 1152px;
    height: 70px;
    margin: 30px 0 0 288px;
    background-color: #D9D9E2;
}
h1{
    width: 322px;
    height: 44px;
    margin-bottom: 40px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
h2{
    width: 800px;
    height: 35px;
    margin-bottom: 30px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
h3{
    display: inline-block;
    width: 400px;
    height: 23px;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
h4{
    display: inline-block;
    width: 90px;
    height: 16px;
    margin-bottom: 15px;
    color: #373867;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
/* ASIDE */
aside p{
    color: #373867;
    font-family: 'Roboto', sans-serif;
}
nav ul li{
    width: 220px;
    margin-left: 35px;
    padding: 18px 0 15px 0;
    border-bottom: 1px solid #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
nav ul li a{
    color: #373867;
}
a{
    text-decoration: none;
}
a:visited{
    color: #373867;
}
aside > p:nth-child(4){
    margin-left: 35px;
    padding: 18px 25px 15px 0;
}
address{
    margin-left: 35px;
    padding-bottom: 15px;
}
address ul li{
    margin-bottom: 5px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-left: 3px;
}
address ul li:last-child{
    padding-left: 23px;
}
/* MAIN */
section{
    margin-left: 70px;
}
section > div{
    display: inline-block;
    width: 490px;
    height: 112px;
}
/* FORM MAIN */
input{
    width: 450px;
    height: 37px;
    border: solid #373867 1px;
    border-radius: 5px;
}
input:first-child {
    margin-right: 50px;
}
input::placeholder{
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
label{
    position: relative;
    left: -50px;
    height: 16px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    z-index: -1;
}
textarea{
    width: 960px;
    height: 150px;
    margin-top: 25px;
    border: solid #373867 1px;
    border-radius: 5px;
}
textarea::placeholder{
    width: 200px;
    height: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}
ol li{
    margin-left: 15px;
}
/* FOOTER */
footer p{
    display: inline-block;
    position: relative;
    top: -20px;
    width: 211px;
    margin-left: 270px;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
/* CLASS
header classes */
.header-radium{
    display: inline-block;
    padding: 10px 0 10px 20px;
    color: #49A37B;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.header-rocket{
    display: inline-block;
    padding: 10px 0 10px -20px;
    color: #AACE9B;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
/* aside classes */
.menu {
    width: 38px;
    margin: 30px 0 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    border-bottom: 2px solid #AACE9B;
}
.contact-us {
    width: 80px;
    margin: 30px 0 0 30px;
    color: #373867;
    border-bottom: 2px solid #AACE9B;
}
/* main classes */
.hamburger-menu{
    position: fixed;
    margin: 15px 0 0 15px;
    color: #373867;
    font-size: 30px;
}
.main-section{
    height: 600px;
    padding-top: 100px;
}
.main-text{
    display: inline-block;
    width: 430px;
    padding-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
    z-index: -1;
}
.main-text:nth-child(2){
    position: relative;
    top: -230px;
}
.img-watch{
    display: inline-block;
    position: relative;
    top: -85px;
    width: 570px;
    height: 390px;
    object-fit: cover;
    z-index: -1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));;
}
.secondary-text{
    display: inline-block;
    position: relative;
    top: -200px;
    width: 430px;
    padding-right: 30px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    z-index: -1;
}
.star{
    display: inline-block;
    position: relative; 
    top: 35px; 
    color: #C4C4C4;
    width: 64px;
    height: 64px;
    z-index: -1;
}
.text{
    padding: 0 30px 0 88px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.separator{
    width: 900px;
    height: 2px;
    margin: 30px 0;
    padding-left: 92px;
    background: #373867;
    border-radius: 10px;
}
/* form classes */
.title-contact-area{
    margin: 25px 0 10px 0;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.contact{
    display: inline-block;
}

.contact:nth-child(2){
    padding-left: 250px
}

.contact:last-child{
    padding-left: 248px;
}
.contact > label{
    position: relative;
    top: -3px;
}
.input-radio{
    width: 16px;
    height: 16px;
}
.btn-send{
    width: 190px;
    height: 47px;
    margin-top: 20px;
    color: #373867;
    background: #AACE9B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.btn-reset{
    width: 130px;
    height: 47px;
    margin-left: 30px;
    color: #373867;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.about-us{
    display: inline-block;
    position: relative;
    top: -300px;
    width: 383px;
    height: 210px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    z-index: -1;
}
.img-rocket{
    display: inline-block;
    position: relative;
    top: -80px;
    width: 600px;
    z-index: -1;
}
.lists{
    width: 250px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.lists:nth-child(2){
    margin-left: 160px;
}
.lists:nth-child(3){
    margin-left: 170px;
    width: 100px;
}
/* footer classes */
.linkedin img{
    width: 50px;
    height: 50px;
    margin: 10px 0 5px 30px;
}
.twitter img{
    width: 50px;
    height: 50px;
    margin: 10px 0 5px 10px;
}
.whatsapp img{
    width: 50px;
    height: 50px;
    margin: 10px 0 5px 10px;
}
.facebook img {
    width: 50px;
    height: 50px;
    margin: 10px 0 5px 10px;
}