aside{
    display: flex;
    flex-direction: column;
    width: 25%;
}
aside p{
    color: #373867;
    font-family: 'Roboto', sans-serif;
}
.menu-gral{
    background-color: #D9D9E2;
    height: 100%;
    width: 100%;
}
aside p{
    color: #373867;
    font-family: 'Roboto', sans-serif;
}

nav ul li{
    width: 80%;
    margin-left: 10%;
    padding: 4% 3% 3% 0;
    border-bottom: 1px solid #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
nav ul li a{
    color: #373867;
}
a{
    text-decoration: none;
}
a:visited{
    color: #373867;
}
aside > p:nth-child(4){
    margin-left: 35px;
    padding: 18px 25px 15px 0;
}
address{
    margin-left: 10%;
    padding-bottom: 15px;
}
address ul li{
    margin-bottom: 5px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.menu, .contact-us{
    width: 65px;
    font-size: 25px;
    margin: 10% 0 0 8%;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    border-bottom: 3px solid #AACE9B;
}
.contact-us {
    width: 125px;
}
.contact-us-subtext{
    margin: 3% 0 3% 10%;
}