.linkedin img, .facebook img, .twitter img, .whatsapp img{
    width: 50px;
    height: 50px;
    padding: 2px 4px;
}
footer{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #D9D9E2;
}
footer div p{
    align-self: center;
}
.icons-social-media{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 30%;
}
.texto-footer{
    padding-left: 30%;
    align-self: center;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}