main{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 3%;
    margin-top: 70px;
}

h1{
    width: 322px;
    height: 44px;
    margin-bottom: 40px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
h2{
    width: 800px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
h3{
    display: inline-block;
    width: 400px;
    height: 23px;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
h4{
    display: inline-block;
    width: 90px;
    height: 16px;
    margin-bottom: 15px;
    color: #373867;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
/* primera seccion */
.first-section{
    display: flex;
    width: 100%;
}
.main-section{
    width: 50%;
}

.img-watch{
    width: 300px;
    height: 300px;
}

.main-text{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.secondary-text{
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5%;
}

/* funcionalitis */

.second-section, .tirth-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}
.second-section > .group{
    display: flex;
    width: 48%;
    border: solid 1px black;
}
.tirth-section > .group{
    display: flex;
    width: 48%;
    border: solid 1px black;
}
/* ver como hacer para q ocupe todo el ancho */
/* .subsections{
    display: flex;
    align-items: flex-start;
    width: 100%;
} */
/* .tirth-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border
} */
.separator{
    width: 85%;
    height: 2px;
    margin: 30px 0;
    padding-left: 92px;
    background: #373867;
    border-radius: 10px;
}