main{
    width: 80%;
    padding-left: 3%;
    margin-top: 70px;
}

h1{
    width: 322px;
    height: 44px;
    margin-bottom: 40px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
h2{
    width: 800px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
h3{
    display: inline-block;
    width: auto;
    height: 23px;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
h4{
    display: inline-block;
    width: 90px;
    height: 16px;
    margin-bottom: 15px;
    color: #373867;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
/* primera seccion */
.first-section{
    display: flex;
    width: 100%;
}
.main-section{
    width: 50%;
}

.img-watch{
    width: 300px;
    height: 300px;
}

.main-text{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.secondary-text{
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5%;
}

/* funcionalitis */
.information-section{
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px black;
}

.group{
    border: solid 1px red;
    margin: 5px;
    width: 100%;
    flex: 2 1 400px;
}

.text{
    padding-left: 20px;
}
.subtext-rigth{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: nowrap;
}


.separator{
    width: 85%;
    height: 2px;
    margin: 30px 0;
    padding-left: 92px;
    background: #373867;
    border-radius: 10px;
}


/* FORM */


.formulario-info-user{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 300px;
    flex-wrap: wrap;
}

.personal-information{
    min-width: 235px;
    width: 45%;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid #373867 1px;
    border-radius: 5px;
}

.personal-information::placeholder{
    padding-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
label{
    color: #373867;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 10px;
}
.title-form{
    margin: 5px 0 10px 0;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.election{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 95%;
}
.contact{
    display: flex;
    justify-content: flex-start;
    /* min-width: 235px; */
    /* width: auto; */
}
.input-radio{
    width: 16px;
    height: 16px;
}

textarea{
    width: 95%;
    height: 110px;
    margin-top: 0.2%;
    margin-bottom: 10px;
    border: solid #373867 1px;
    border-radius: 5px;
}
textarea::placeholder{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}

.buttons{
    display: flex;
    width: 95%;
    justify-content: flex-end;
}

.btn-send{
    padding: 10px;
    height: 47px;
    color: #373867;
    background: #AACE9B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.btn-reset{
    padding: 10px 25px;
    height: 47px;
    margin-left: 2%;
    color: #373867;
    background: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
}
.about-us > p{
    min-width: 200px;
    width: 45%;
    margin-top: 7%;
    height: 210px;
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.img-rocket{
    width: 300px;
    height: 300px;
    margin-bottom: 70px;
}